* {
    margin: 0;
    padding: 0;
}

.kcmi-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.kcmi-logo-div {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #d1d1d5;
    margin: 0 auto;
/*    display: block;*/
}
.kcmi-logo-div img {
    margin: 0 auto;
    width: 50px;
    padding: 4px;
}
.kcmi-church-name {
    display: inline-block;
    margin-top: 0px;
    font-size: 18px;
    color: #999;
}
.kcmi-logo-div a{
    text-decoration: none;
}
.kcmi-message-body {
    background-color: #f9f9fa;
    padding: 10px;
    margin: 0 auto;
}
.kcmi-last-message {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.kcmi-last-message h3{
	font-size: 18px;
    color: #ddd;
    font-weight: bold;
    padding: 2px;
}
.kcmi-old-message {
    font-size: 15px;
    padding: 4px;
    line-height: 20px;
    color: #1e1e1e;
}
.kcmi-new-message {
    padding: 4px;
    font-size: 18px;
}
.kcmi-button {
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}
.kcmi-reply-div {
    margin: 0 auto;
    padding: 14px;
    width: 100%;
}
.kcmi-footer-nav {
    padding: 0;
/*    margin: 0;*/
}
.kcmi-footer-nav ul{
    width: auto;
    height: auto;
    margin: 0 auto;
    
}
.kcmi-footer-nav ul li{
    display: inline-block;
    padding: 4px 6px;
    margin: 2px;
    color: #999;
    background-color: #999;
    border-radius: 4px;    
}
.kcmi-footer-nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}