Operations Research
<br>
Operations Research (OR) has a fairly straightforward approach in business contexts — Is this the best decision possible under the current scenario?
<br>
In contemporary business environments subtraction of inefficiencies is as important as value addition on top, and more often than not both contribute equally to the bottom line in the long run.
<br>
Hacking away at the inefficiencies often equates to making good decisions on the fly with limited resources at hand, to be able to make the best possible use of resources.
<br>
In a hyper-connected world with insane amounts of data floating around, computers pave the way for increasingly stronger man-machine interaction to solve real-world business problems.
<br>
Objective of OR is to assist the decision makers with solutions based on scientific basis — for problems that involve a lot of moving parts, by employing people from different disciplines in pursuit of a solution that is good enough (depends on the allocated time and a whole range of other constraints).
<br>
Originating from military applications, OR aims to mathematically define problems and draws insights and learning from a multitude of fields — such as organizational behaviour, industrial engineering, psychology and data sciences (trippy side thought: the fact that so many technological advancements originate in military confines can be an interesting pattern).
 <br>
Scope and Applications of Operations Research
<br>
Operations Research aims to reduce “muddy” business problems into well-defined mathematical constructs, while also defining expected behaviour and goals (well rooted in computer science and analytics).
<br>
It tries to empower decision making in areas where efficient allocation of scarce resources is a prime concern — whether it be capital, human effort, time or other resources.
<br>
Embedded in a scientific method of enquiry which lends itself to a host of problems that can be tackled through mathematical models, its scope is pretty broad. Here are some of the areas in which OR can be seen in action:
<br>
    Production / Manufacturing Management<br>
    Finance Budgeting / Investments
    Purchasing / Procurement / Logistics / Supply Chain Management<br>
    Marketing & Revenue Management<br>
    Telecommunication Networks<br>
    Healthcare Management<br>
    Energy / Environment/ Agriculture<br>
    Military Defence<br>
    National Plans / Budgets<br>
    Government Development / Public Sector Units<br>
<br>
 
Methodology of Operations Research
<br>
There are broadly three phases in a typical OR study:
<br>
    Judgement Phase: to define the problem in a way that makes the current state of affairs, the objectives to achieve and the ways to measure success as clear as possible. Works wonders to “bring everyone on the same page”.
    Research Phase: to collect data/information about the problem at hand (e.g. prior art search), making hypothesis and validating them, constructing the model(s) and making predictions (if any)
    Action Phase: to implement results coming from previous stages and make any required changes/ iterations if necessary

<br> 
In complex systems with a multitude of factors affecting the overall behaviour, a sound mathematical representation is essential to model its real-world behaviour.
<br>
After the problem is well-established, the intermediate goal usually is to establish the inter-dependence of variables with required output — to increase the overall understanding of the problem at hand.
<br>
Once a fair understanding of the system is developed, an array of different strategies can be deployed to understand the behaviour of various factors and the system as a whole.
<br>
Understanding of statistical procedures (probability etc.) is usually an important ingredient in building computer simulations that effectively model real-world problems.
 <br>
Advantages and Limitations of Operations Research
<br>
The business world is often beleaguered by executives who make decisions only based on their gut feelings, and with it comes a host of biases which come in conflict with the organization’s goals. OR aims at a scientific decision-making process, thereby striving to eliminate biases and prejudices from the equation.
<br>
It is a tool in the arsenal of any managerial body, a tool that helps with optimization of resources at hand while making any grey problem at least a couple of tones lighter!
<br>
The management gets to know beforehand the problems areas to concentrate upon, and some of the vital parameters that can turn around the business scenario (80/20 rule to the rescue).
<br><br>
But as promising as this may sound, there are a few inherent limitations as well. Solutions coming from OR is as good as the soundness of the mathematical representation itself, and some real-world problems do not lend themselves easily to any kind of a mathematical construct (an Einstein might be of help, but not feasible in most cases).
<br><br>
Moreover the intangibles of business decision-making cannot be reliably modelled, that means no replacement for “experience” as of now. As with most other things in life, moderation seems to be the key while leveraging the power of solutions coming from OR.
 <br><br>
Careers in Operations Research
<br><br>
OR has a track record of paying exceptionally well, and with growing interconnectedness of problems, geographies and functions, it is slated to grow even more in the coming years. Some of the content taught in a typical OR program: decision support, probability distributions, engineering statistics, statistical sampling, regression models, and optimization etc. touches on a lot of inter-disciplinary fields.
<br><br>
International Federation of Operational Research Society (IFORS) is a worldwide organization connecting OR institutions and societies.
<br><br>
In India, Operational Research Society of India and Centre for Operations Research and Training are leading OR research and training organizations.
<br><br>
The Bureau of Labour Statistics (USA) projects a 27% employment growth for OR professionals in the coming decade.
<br><br>
Some of the institutes in India offering OR programmes: Indian Statistical Institute (Kolkata), University of Delhi, IIT Mumbai, Operational Research Society of India and IIM Lucknow.
 <br><br>
Operations Management Subjects
<br><br>
– Operations Management
— Logistics and Supply Chain Management
— Supply Chain Simulation Games
<br><br>
Back to the top: MBA Syllabus
